<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>大国技交</title>
	<link rel="icon" href="img/logo.png" type="img/x-ico" />
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'> -->
	<!-- <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'> -->
	<script src="js/modernizr.js"></script>
	<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<!-- ====================================================
	header section -->
	<header class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 header-logo">

					<a href="index"><img src="img/logo.png" alt="" class="img-responsive logo"></a>
				</div>

				<div class="col-md-10">
					<nav class="navbar navbar-default">
						<div class="nav-top-title">国家技术转移东部中心大连分中心</div>
						<div class="container-fluid nav-bar">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

								<ul class="nav navbar-nav">
									<li><a class="menu active" href="index">首页</a></li>
									<li><a class="menu" href="technology">技术项目驱动</a></li>
									<li><a class="menu" href="news">新闻中心</a></li>
									<li><a class="menu" href="college">蓝马甲商学院</a></li>
									<li><a class="menu" href="introduction">平台简介</a></li>
								</ul>
							</div><!-- /navbar-collapse -->
						</div><!-- / .container-fluid -->
					</nav>
				</div>
			</div>
		</div>
	</header> <!-- end of header area -->

	<section class="slider" id="home">
		<div class="container-fluid">
			<div class="row">
				<div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
					<div class="header-backup"></div>
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="img/banner1.jpg" alt="">
							<!-- <div class="carousel-caption">
		               			<h1>providing</h1>
		               			<p>highquality service for men &amp; women</p>
		               			<button>learn more</button>
			                </div> -->
						</div>
						<div class="item">
							<img src="img/banner2.jpg" alt="">
							<!-- <div class="carousel-caption">
		               			<h1>providing</h1>
		               			<p>highquality service for men &amp; women</p>
		               			<button>learn more</button>
			                </div> -->
						</div>
						<!-- <div class="item">
			            	<img src="img/slide-two.jpg" alt="">
			                <div class="carousel-caption">
		               			<h1>providing</h1>
		               			<p>highquality service for men &amp; women</p>
		               			<button>learn more</button>
			                </div>
			            </div>
			            <div class="item">
			            	<img src="img/slide-three.jpg" alt="">
			                <div class="carousel-caption">
		               			<h1>providing</h1>
		               			<p>highquality service for men &amp; women</p>
		               			<button>learn more</button>
			                </div>
			            </div>
			            <div class="item">
			            	<img src="img/slide-four.jpg" alt="">
			                <div class="carousel-caption">
		               			<h1>providing</h1>
		               			<p>highquality service for men &amp; women</p>
		               			<button>learn more</button>
			                </div>
			            </div> -->
					</div>
					<!-- Controls -->
					<a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">前一张</span>
					</a>
					<a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">后一张</span>
					</a>
				</div>
			</div>
		</div>
	</section><!-- end of slider section -->
	<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">网页模板</a></div>

	<!-- about section -->
	<section class="about text-center" id="about">
		<div class="container">
			<div class="row">
				<div class="news-title">新闻动态</div>
				<div class="news-content">
					<div class="leftnews-content">
						<div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">

								<div class="item active">
									<img src="img/slide-two.png" alt="">
									<!-- <div class="carousel-caption">
												   <h1>providing</h1>
												   <p>highquality service for men &amp; women</p>
												   <button>learn more</button>
											</div> -->
								</div>
								<div class="item">
									<img src="img/slide-three.png" alt="">
									<!-- <div class="carousel-caption">
												   <h1>providing</h1>
												   <p>highquality service for men &amp; women</p>
												   <button>learn more</button>
											</div> -->
								</div>
								<div class="item">
									<img src="img/slide-four.png" alt="">
									<!-- <div class="carousel-caption">
												   <h1>providing</h1>
												   <p>highquality service for men &amp; women</p>
												   <button>learn more</button>
											</div> -->
								</div>
							</div>
							<!-- Controls -->
							<!-- <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
										<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
										<span class="sr-only">前一张</span>
									</a>
									<a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
										<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
										<span class="sr-only">后一张</span>
									</a> -->
						</div>
					</div>
					<div class="rightnews-content">
						<ul>
							<li><a href="newsDescription1">助力产业高质量发展，打造技术红利共享新模式</a></li>
							<li><a href="newsDescription2">上海科委及国家技术转移东部中心领导 调研大连分中心</a></li>
							<li><a href="newsDescription3">历史转折点必有红利—— 驱动式技术交易模式</a></li>
							<li><a href="newsDescription4">《大连高新区战略合作高校院所科技处长第二次联席会议》在大国技交召开——大国技交首批“蓝马甲”列席参加</a></li>
							<li><a href="newsDescription5">大连————新兴高收入行业！！！</a></li>
							<li><a href="newsDescription6">大连.上海合作对标—构建常态化资源对接合作渠道</a></li>
							<li><a href="newsDescription7">什么是当下的风口行业？什么是未来最牛掰的职业？</a></li>
						</ul>
					</div>
					<div class="row">
						<div class="col-xs-12 bottom-news">
							<div class="new-three-box">
								<a href="indexnewslist">
									<span><img src="img/news-icon1.png" /></span>
									<div class="right-new-list">
										<h3>技术成果库</h3>
										<span class="newdes">按成果转化阶段和入库来源分类汇总列示各类科技成果。</span>
									</div>
								</a>
							</div>
							<div class="new-three-box">
								<a href="#">
								<span><img src="img/news-icon2.png" /></span>
								<div class="right-new-list">
									<h3>企业需求库</h3>
									<span class="newdes">按成果转化阶段和入库来源分类汇总列示各类科技成果。</span>
								</div>
								</a>
							</div>
							<div class="new-three-box marginright0">
								<a href="#">
								<span><img src="img/news-icon3.png" /></span>
								<div class="right-new-list">
									<h3>专家人才库</h3>
									<span class="newdes">按成果转化阶段和入库来源分类汇总列示各类科技成果。</span>
								</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- end of about section -->


	<!-- service section starts here -->
	<section class="about text-center" id="service">
		<div class="container">
			<div class="row">
				<div class="news-title">大连分中心配套服务机构</div>
				<div class="news-content">
					<div class="fourth-content"></div>
					<div class="fourth-content"></div>
					<div class="fourth-content"></div>
					<div class="fourth-content" style="margin-right:0"></div>
				</div>
			</div>
		</div>
	</section><!-- end of service section -->

	<!-- footer starts here -->
	<footer class="footer clearfix">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 footer-para">
					<p>国家技术转移东部中心大连分中心 &nbsp;&nbsp;&nbsp;&nbsp;版权所有</p>
					<p>联系电话：0411-39363623</p>
					<p>联系地址：辽宁省大连市甘井子区七贤路2号 嘉创大厦15楼</p>
				</div>
				<!-- <div class="col-xs-6 text-right">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-skype"></i></a>
				</div> -->
			</div>
		</div>
	</footer>

	<!-- script tags
	============================================================= -->
	<script src="js/jquery-2.1.1.js"></script>

	<script src="js/gmaps.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>