<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>大国技交</title>
	<link rel="icon" href="img/logo.png" type="img/x-ico" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/technology.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'> -->
    <script src="js/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- ====================================================
	header section -->
    <header class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 header-logo">

                    <a href="index"><img src="img/logo.png" alt="" class="img-responsive logo"></a>
                </div>

                <div class="col-md-10">
                    <nav class="navbar navbar-default">
                        <div class="nav-top-title">国家技术转移东部中心大连分中心</div>
                        <div class="container-fluid nav-bar">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav">
                                    <li><a class="menu" href="index">首页</a></li>
                                    <li><a class="menu" href="technology">技术项目驱动</a></li>
                                    <li><a class="menu active" href="news">新闻中心</a></li>
                                    <li><a class="menu" href="college">蓝马甲商学院</a></li>
                                    <li><a class="menu" href="introduction"> 平台简介</a></li>
                                </ul>
                            </div><!-- /navbar-collapse -->
                        </div><!-- / .container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header> <!-- end of header area -->

    <section class="slider" id="home">
        <div class="header-backup"></div>
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <span>首页&nbsp;&nbsp;>&nbsp;&nbsp;新闻中心</span>
                </div>
            </div>
        </div>
    </section><!-- end of slider section -->
    <!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div> -->

    <!-- about section -->
    <section class="news text-center" id="about">
        <div class="container">
            <div class="row">
                <ul>
                    <li class="indexnewslist">
                        <a href="indexlistdescription1">
                            <div class="rightlistnews">
                                <span class="newsTitle">无焰制热设备</span>
                                <span class="newsContent">节能、环保、高效、安全是产品最大的特点；无焰制热设备主要使用可再生能源甲醇为原料，经过特殊反应室，释放出大量的热量，全程无火焰，无尾烟，
                                    甲醇是可再生能源，不但成本较低，而且尾气只有二氧化碳和水，不含硫可回收二 氧化碳。在经济效益还是环保方面考虑， 几乎零缺点，可谓是新一代可持续节能环保设备。</span>
                                <span class="right-date">2018年5月28日</span>
                            </div>
                        </a>
                    </li>
                    <li class="indexnewslist">
                        <a href="indexlistdescription1">
                            <div class="rightlistnews">
                                <span class="newsTitle">传感消防自动灭火系统</span>
                                <span class="newsContent">发生火灾前：可探测空气中的可燃气体（如甲烷、乙烷、丙烷、丁烷等），提前预知发出报警信号。发生火灾时：对现场二氧化碳浓度进行探测，随时自动启动灭火系统。灭火剂:干粉灭火剂，形成被保护物与空气隔绝、阻断再次燃烧所需要的氧气、防止复燃。</span>
                                <span class="right-date">2018年5月28日</span>
                            </div>
                        </a>
                    </li>
                    <li class="indexnewslist">
                        <a href="indexlistdescription1">
                            <div class="rightlistnews">
                                <span class="newsTitle">汽车消防&自爆系统装置</span>
                                <span class="newsContent">与报警系统联动、手自一体启动方式、启动迅速（1秒内），瞬间击碎多块玻璃、安全可靠、独立备用电源（汽车自身电源失效时，仍可启动）、体积小（高6cm直径2.2cm）、安装简便、不影响美观、使用寿命长</span>
                                <span class="right-date">2018年5月28日</span>
                            </div>
                        </a>
                    </li>
                    <li class="indexnewslist">
                        <a href="indexlistdescription1">
                            <div class="rightlistnews">
                                <span class="newsTitle">空气净化器</span>
                                <span class="newsContent">超国际标准的滤网，超静音模式，具有释放负氧离子的功能，以及植入先进的语音芯片（灯光可根据语音可调），超美观外形及低廉市场价位，具有空气净化器和加湿机（加湿---自然气化，技术是世界唯一）一体机，大型机可适用人员密集处。</span>
                                <span class="right-date">2018年5月28日</span>
                            </div>
                        </a>
                    </li>
                    <li class="indexnewslist">
                        <a href="indexlistdescription1">
                            <div class="rightlistnews">
                                <span class="newsTitle">农业生物饲料</span>
                                <span class="newsContent">广义上讲：无抗生素、无有害物质残留，运用现代生物科技制造出来的养殖动物饲喂产品；狭义概念：以基因工程、分子工程、蛋白质工程、植物、微生物发酵工程为技术手段，以科学、合理、精准组分技术为核心，制造出来的具有全功能高效力的养殖动物饲喂产品。
                                </span>
                                <span class="right-date">2018年5月28日</span>
                            </div>
                        </a>
                    </li>
                    <li class="indexnewslist">
                        <a href="indexlistdescription1">
                            <div class="rightlistnews">
                                <span class="newsTitle">抑爆技术</span>
                                <span class="newsContent">主动抑爆系统设备能够在爆炸对人员和井下设备形成灾害性破坏之前，探测并把把爆炸抑制在萌芽期</span>
                                <span class="right-date">2018年5月28日</span>
                            </div>
                        </a>
                    </li>
                    <li class="indexnewslist">
                        <a href="indexlistdescription1">
                            <div class="rightlistnews">
                                <span class="newsTitle">农业秸秆高值综合利用生物技术</span>
                                <span class="newsContent">利用生物酶制剂和渗透剂分解秸秆主流元素； 利用分离的纤维素做纸浆、乙醇；
                                    利用半纤维素生产功能糖、沼气、有机化化工原料；利用木质素生产粘合剂、表面活性剂、有机缓释肥、油田钻井液添加剂、植物生长调节剂等产品 </span>
                                <span class="right-date">2018年5月28日</span>
                            </div>
                        </a>
                    </li>
                    <li class="indexnewslist">
                        <a href="indexlistdescription1">
                            <div class="rightlistnews">
                                <span class="newsTitle">新型环保洁净燃料（民用洁净焦炭/即绿焦、生物质高能燃料）</span>
                                <span class="newsContent">1、绿焦产品：该产品以煤碳为主要原料，添加助燃剂、固硫剂和增碳剂等助剂，经高温干馏工艺生产出民用洁净焦炭。2、生物质高能燃料产品：该产品是以秸秆、焦沫等为主要原料，添加助剂经原料预处理、固体成型、辅助配套三个工艺阶段，生产出生物质颗粒产品。</span>
                                <span class="right-date">2018年5月28日</span>
                            </div>
                        </a>
                    </li>
                    <li class="indexnewslist">
                        <a href="indexlistdescription1">
                            <div class="rightlistnews">
                                <span class="newsTitle">天然植物和矿物质组成健康环保空气清新剂</span>
                                <span class="newsContent">产品由纯天然植物和矿物质组成，无化学品加入，无腐蚀、无污染，常温常压下操作处理，中性水溶剂，使用后无痕迹，安全可靠。主要消除空气中的异味、霉菌味、臭味、腐尸味，对传染源有控制和抑制作用。同时可消除酸碱两性存在的有害气体。</span>
                                <span class="right-date">2018年5月28日</span>
                            </div>
                        </a>
                    </li>
                    <li class="indexnewslist">
                        <a href="indexlistdescription1">
                            <div class="rightlistnews">
                                <span class="newsTitle">人工智能植物工厂</span>
                                <span class="newsContent">独有技术、高节能的植物生长专用LED人工光源与种植设施，促进蔬菜快速生长。产量增加10倍，耗能降低55%。周年可收获蔬菜18-20茬，产量是温室种植的10倍，是传统种植的150倍。周年蔬菜亩产值600万，利润400万。</span>
                                <span class="right-date">2018年5月28日</span>
                            </div>
                        </a>
                    </li>
                    <li class="indexnewslist">
                        <a href="indexlistdescription1">
                            <div class="rightlistnews">
                                <span class="newsTitle">5s智能隔温新技术—石墨烯超薄热功纳米材料</span>
                                <span class="newsContent">公司研发、生产石墨烯纳米级特种耐超高温、超低温隔冷、安全耐火阻燃、抗重腐蚀等多功能环保智能新材料，实现显著节能增效经济价值。</span>
                                <span class="right-date">2018年5月28日</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section><!-- end of about section -->

    <!-- footer starts here -->
    <footer class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 footer-para">
                    <p>国家技术转移东部中心大连分中心 &nbsp;&nbsp;&nbsp;&nbsp;版权所有</p>
                    <p>联系电话：0411-0000000</p>
                    <p>联系地址：辽宁省大连市高新园区佳创大厦15层</p>
                </div>
                <!-- <div class="col-xs-6 text-right">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-skype"></i></a>
				</div> -->
            </div>
        </div>
    </footer>

    <!-- script tags
	============================================================= -->
    <script src="js/jquery-2.1.1.js"></script>

    <script src="js/gmaps.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>