<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>大国技交</title>
	<link rel="icon" href="img/logo.png" type="img/x-ico" />
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/technology.css">
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'> -->
	<!-- <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'> -->
	<script src="js/modernizr.js"></script>
	<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	
	<!-- ====================================================
	header section -->
	<header class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 header-logo">
					
					<a href="index"><img src="img/logo.png" alt="" class="img-responsive logo"></a>
				</div>

				<div class="col-md-10">
					<nav class="navbar navbar-default">
						<div class="nav-top-title">国家技术转移东部中心大连分中心</div>
					  <div class="container-fluid nav-bar">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      
					      <ul class="nav navbar-nav">
					        <li><a class="menu" href="index" >首页</a></li>
					        <li><a class="menu" href="technology">技术项目驱动</a></li>
					        <li><a class="menu active" href="news">新闻中心</a></li>
					        <li><a class="menu" href="college">蓝马甲商学院</a></li>
							<li><a class="menu" href="introduction">平台简介</a></li>
					      </ul>
					    </div><!-- /navbar-collapse -->
					  </div><!-- / .container-fluid -->
					</nav>
				</div>
			</div>
		</div>
	</header> <!-- end of header area -->

	<section class="slider" id="home">
			<div class="header-backup"></div>
			<div class="navigation">
				<div class="container">
					<div class="row">
						<span>首页&nbsp;&nbsp;>&nbsp;&nbsp;新闻中心&nbsp;&nbsp;>&nbsp;&nbsp;无焰制热设备</span>
					</div>
				</div>
			</div>
	</section><!-- end of slider section -->
    <!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div> -->

	<!-- about section -->
	<section class="news text-center" id="about">
		<div class="container">
			<div class="row">
                <h3>无焰制热设备</h3>
				<div class="date">2018年5月28日</div>
                <p class="left">节能、环保、高效、安全是产品最大的特点；无焰制热设备主要使用可再生能源甲醇为原料，经过特殊反应室，释放出大量的热量，全程无火焰，无尾烟， 甲醇是可再生能源，不但成本较低，而且尾气只有二氧化碳和水，不含硫可回收二 氧化碳。在经济效益还是环保方面考虑， 几乎零缺点，可谓是新一代可持续节能环保设备。</p>
                <p class="left">项目归类：节能环保</p>
                <p class="left">适用范围：化工企业、加油站、居民住宅区，旅游景区</p>
			</div>
		</div>
	</section><!-- end of about section -->

	<!-- footer starts here -->
	<footer class="footer clearfix">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 footer-para">
					<p>国家技术转移东部中心大连分中心 &nbsp;&nbsp;&nbsp;&nbsp;版权所有</p>
					<p>联系电话：0411-39363623</p>
					<p>联系地址：辽宁省大连市甘井子区七贤路2号 嘉创大厦15楼</p>
				</div>
				<!-- <div class="col-xs-6 text-right">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-skype"></i></a>
				</div> -->
			</div>
		</div>
	</footer>

	<!-- script tags
	============================================================= -->
	<script src="js/jquery-2.1.1.js"></script>

	<script src="js/gmaps.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>