<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>大国技交</title>
	<link rel="icon" href="img/logo.png" type="img/x-ico" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/technology.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'> -->
    <script src="js/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- ====================================================
	header section -->
    <header class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 header-logo">

                    <a href="index"><img src="img/logo.png" alt="" class="img-responsive logo"></a>
                </div>

                <div class="col-md-10">
                    <nav class="navbar navbar-default">
                        <div class="nav-top-title">国家技术转移东部中心大连分中心</div>
                        <div class="container-fluid nav-bar">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav">
                                    <li><a class="menu" href="index">首页</a></li>
                                    <li><a class="menu" href="technology">技术项目驱动</a></li>
                                    <li><a class="menu active" href="news">新闻中心</a></li>
                                    <li><a class="menu" href="college">蓝马甲商学院</a></li>
                                    <li><a class="menu" href="introduction">平台简介</a></li>
                                    <li><a class="menu" href="market">交易大盘</a></li>
                                </ul>
                            </div><!-- /navbar-collapse -->
                        </div><!-- / .container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header> <!-- end of header area -->

    <section class="slider" id="home">
        <div class="header-backup"></div>
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <span>首页&nbsp;&nbsp;>&nbsp;&nbsp;新闻中心&nbsp;&nbsp;>&nbsp;&nbsp;大连.上海合作对标—构建常态化资源对接合作渠道 </span>
                </div>
            </div>
        </div>
    </section><!-- end of slider section -->
    <!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div> -->

    <!-- about section -->
    <section class="news text-center" id="about">
        <div class="container">
            <div class="row">
                <h3>大连.上海合作对标—构建常态化资源对接合作渠道</h3>
                <div class="date">2018年8月2日</div>
                <p class="left">为引进东部发达地区对口合作振兴东北，推动上海对口大连开展两地科技合作，促进科技成果转移转化资源有效对接，加快国家技术转移东部中心大连分中心发展，7月31日国家技术转移东部中心副总裁邹叔君莅临大连分中心指导工作并共同商议下半年工作计划，同时还引进上海三个成熟优质技术项目，意向落户大连，并在7月31日下午举行了上海技术项目对接路演会。此次的技术项目对接引起大连市政府、大连市科技局、高新区管委会的高度关注。</p>
                <p><img src="img/wechat34.jpg" width="300px" /></p>
                <p>上海技术项目对接路演会</p>
                <p class="left">大连市科技局张晓光处长、高新区科技局局长栗思兵、城建局副局长王隆田、投资促进局副局长李楠、国家技术转移东部中心副总裁邹叔君、国家技术转移东部中心大连分中心总裁林志高、上海海耀惠智信息科技发展有限公司总经理林锋、上海复展智能科技股份有限公司总经理孙洪涛、上海复志信息技术有限公司副总经理顾晓升、汇创科技有限公司总经理张志鹏、优克多维科技有限公司总经理阳烨出席此次会议。</p>
                <p><img src="img/wechatdes35.jpg" width="300px" /></p>
                <p class="left">会上，上海的三个路演项目分别是上海海耀惠智信息科技发展有限公司-天燃气分布式能源、上海复展智能科技股份有限公司-EMC合同能源管理、上海复志信息技术有限公司-3D打印技术。此次上海的三个优质路演项目得到大连市科技局、高新园管委会有关部门领导的高度认可和关注。</p>
                <p><img src="img/wechatdes36.jpg" width="300px" /></p>
                <p><img src="img/wechatdes37.jpg" width="300px" /></p>
                <p><img src="img/wechatdes38.jpg" width="300px" /></p>
                <p class="left">参会的各位领导和企业家围绕深化沪连对口合作、大连分中心建设及对接沪连科技创新资源等议题展开深入交流。
                        国家技术转移东部中心副总裁邹叔君表示，要跟大连分中心建立起常态化的资源对接共享渠道，进一步深入东北地区技术转移工作的开展和技术落地，输出上海的国际化资源，通过构建相应的工作机制，构建起人才培训、金融服务、信息共享、项目合作、活动交流等多层次的合作体系，带动与帮助当地企业的转型升级，建立起上海与大连在科创建设方面的互联互通机制。</p>
                <p><img src="img/wechatdes39.jpg" width="300px" /></p>
                <p class="left">大连市科技局张晓光处长表示，大连对标上海，大连需积极的学习吸纳上海的优质技术项目，促进优质项目落户大连。进一步推动新型跨地区的平等合作，两地城市共同搭建合作平台载体，实现两地资源互补、经济协调发展，培育新的经济增长点，探索跨地区利益分享机制，补齐短板，实现共赢。</p>
                <p><img src="img/wechatdes40.jpg" width="300px" /></p>
                <p class="left">高新区科技局局长栗思兵在会上说到，希望能够通过沪连对口合作契机，将上海的国际化科创资源为大连带入一批创新技术和高技术产业化项目，积极推动产学研用相结合，突破一批核心技术和关键共性技术，实现更多自主创新成果的产业化。大连分中心，同时作为大连与上海在技术转移领域共建的合作平台，也为大连与上海两地政产学研合作对接提供了机遇，必将成为上海和大连在成果转化领域的新起点，新尝试。</p>
                <p><img src="img/wechatdes41.jpg" width="300px" /></p>
                <p class="left">会上，高新区管委会相关部门领导、企业家代表针对创新项目实质性落地的要素问题进行了发言交流，纷纷表示上海的优势在于国际化的金融城市，大连掌握着丰富的港口资源，双方的合作是东部地区与东北地区的跨区域协同创新，这将是破除两地技术转移领域体制机制壁垒、打通两地科技与金融双向通道的全新挑战。</p>
                <p><img src="img/wechatdes42.jpg" width="300px" /></p>
                <p><img src="img/wechatdes43.jpg" width="300px" /></p>

            </div>
        </div>
    </section><!-- end of about section -->

    <!-- footer starts here -->
    <footer class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 footer-para">
                    <p>国家技术转移东部中心大连分中心 &nbsp;&nbsp;&nbsp;&nbsp;版权所有</p>
                    <p>联系电话：0411-0000000</p>
                    <p>联系地址：辽宁省大连市高新园区佳创大厦15层</p>
                </div>
                <!-- <div class="col-xs-6 text-right">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-skype"></i></a>
				</div> -->
            </div>
        </div>
    </footer>

    <!-- script tags
	============================================================= -->
    <script src="js/jquery-2.1.1.js"></script>

    <script src="js/gmaps.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>