<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>大国技交</title>
	<link rel="icon" href="img/logo.png" type="img/x-ico" />
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/technology.css">
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'> -->
	<!-- <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'> -->
	<script src="js/modernizr.js"></script>
	<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<!-- ====================================================
	header section -->
	<header class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 header-logo">

					<a href="index"><img src="img/logo.png" alt="" class="img-responsive logo"></a>
				</div>

				<div class="col-md-10">
					<nav class="navbar navbar-default">
						<div class="nav-top-title">国家技术转移东部中心大连分中心</div>
						<div class="container-fluid nav-bar">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

								<ul class="nav navbar-nav">
									<li><a class="menu" href="index">首页</a></li>
									<li><a class="menu" href="technology">技术项目驱动</a></li>
									<li><a class="menu active" href="news">新闻中心</a></li>
									<li><a class="menu" href="college">蓝马甲商学院</a></li>
									<li><a class="menu" href="introduction">平台简介</a></li>
								</ul>
							</div><!-- /navbar-collapse -->
						</div><!-- / .container-fluid -->
					</nav>
				</div>
			</div>
		</div>
	</header> <!-- end of header area -->

	<section class="slider" id="home">
		<div class="header-backup"></div>
		<div class="navigation">
			<div class="container">
				<div class="row">
					<span>首页&nbsp;&nbsp;>&nbsp;&nbsp;新闻中心</span>
				</div>
			</div>
		</div>
	</section><!-- end of slider section -->
	<!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div> -->

	<!-- about section -->
	<section class="news text-center" id="about">
		<div class="container">
			<div class="row">
				<ul>
					<li class="newslist">
						<a href="newsDescription1">
							<span><img src="img/newscenter.png" width="100%" height="100%" /></span>
							<div class="rightlistnews">
								<span class="newsTitle">助力产业高质量发展，打造技术红利共享新模式</span>
								<span class="newsContent">8月24日，由国家知识产权局、辽宁省人民政府共同主办、大连市人民政府承办的2018中国国际专利技术与产品交易会在大连世界博览广场启幕。本届专交会以“专利引领产业高质量发展”为主题，聚焦国家创新驱动发展战略实施的现实需要，以知识产权保护运用为重点，以展览展示、主题活动为抓手，以推动专利技术交流合作，促进专利技术转化，普及专利知识，加强知识产权保护为目标。展会吸引了来自俄罗斯、美国、英国等26个国家和地区、29家中...</span>
								<span class="right-date">2018年8月26日</span>
							</div>
						</a>
					</li>
					<li class="newslist">
						<a href="newsDescription2">
							<span><img src="img/newscenter.png" width="100%" height="100%" /></span>
							<div class="rightlistnews">
								<span class="newsTitle">上海科委及国家技术转移东部中心领导 调研大连分中心</span>
								<span class="newsContent">8月23日下午，上海市科委创新服务处陈宏凯处长、大连市科技局苗慧处长、张晓光处长、国家技术转移东部中心邹叔君执行副总裁等领导来大连分中心进行调研，大连国嘉技交科技发展有限公司林志高董事长陪同座谈，于金鹏总经理主持会议。...</span>
								<span class="right-date">2018年8月25日</span>
							</div>
						</a>
					</li>
					<li class="newslist">
						<a href="newsDescription3">
							<span><img src="img/newscenter.png" width="100%" height="100%" /></span>
							<div class="rightlistnews">
								<span class="newsTitle">历史转折点必有红利—— 驱动式技术交易模式</span>
								<span class="newsContent">世界上任何创新都是孤独的！经历“诞生”—“明白”—“传播”—“常态”的生命历程，往往会伴随“先驱”“先烈”“先行”者们。如福特所说——没有汽车以前，人们需要的更好交通工具是？几乎所有人的答案都是“我要一匹更快的马”！驱动交易模式到底是个什么“玩意”？谁知道呢？……...</span>
								<span class="right-date">2018年8月22日</span>
							</div>
						</a>
					</li>
					<li class="newslist">
						<a href="newsDescription4">
							<span><img src="img/newscenter.png" width="100%" height="100%" /></span>
							<div class="rightlistnews">
								<span class="newsTitle">《大连高新区战略合作高校院所科技处长第二次联席会议》在大国技交召开——大国技交首批“蓝马甲”列席参加</span>
								<span class="newsContent">大连高新区科技创新局栗思兵局长，大连理工大学技术研究开发院郝涛主任，大连理工大学生命科学与技术学院贾凌云院长，大连海事大学科技处杨国刚副处长，大连医科大学成果转化办刁云鹏副主任，大连交通大学科技处丁万昱处长、邓晗主任，大连工业大学科技处樊永德科长，大连海洋大学科技园有限公司邓立志副总，中科院大连化物所孙亮主管，省农科院大连生物所都兴范所长，大连国嘉技交科技发展有限公司林志高董事长出席此次会议。...</span>
								<span class="right-date">2018年8月15日</span>
							</div>
						</a>
					</li>
					<li class="newslist">
						<a href="newsDescription5">
							<span><img src="img/newscenter.png" width="100%" height="100%" /></span>
							<div class="rightlistnews">
								<span class="newsTitle">大连——新兴高收入行业！！！</span>
								<span class="newsContent">2017年，国务院正式印发《国家技术转移体系建设方案》，确立了全面建成结构合理、功能完善、体制健全、运行高效的国家技术转移体系，并提出了“两步走”的体系建设目标，这也是国家首次对技术转移工作进行系统部署的纲领性文件和行动指南。...</span>
								<span class="right-date">2018年8月8日</span>
							</div>
						</a>
					</li>
					<li class="newslist">
						<a href="newsDescription6">
							<span><img src="img/newscenter.png" width="100%" height="100%" /></span>
							<div class="rightlistnews">
								<span class="newsTitle">大连.上海合作对标—构建常态化资源对接合作渠道</span>
								<span class="newsContent">为引进东部发达地区对口合作振兴东北，推动上海对口大连开展两地科技合作，促进科技成果转移转化资源有效对接，加快国家技术转移东部中心大连分中心发展，7月31日国家技术转移东部中心副总裁邹叔君莅临大连分中心指导工作并共同商议下半年工作计划，同时还引进上海三个成熟优质技术项目，意向落户大连，并在7月31日下午举行了上海技术项目对接路演会。此次的技术项目对接引起大连市政府、大连市科技局、高新区管委会的高度关注。...</span>
								<span class="right-date">2018年8月2日</span>
							</div>
						</a>
					</li>
					<li class="newslist">
						<a href="newsDescription7">
							<span><img src="img/newscenter.png" width="100%" height="100%" /></span>
							<div class="rightlistnews">
								<span class="newsTitle">什么是当下的风口行业？ 什么是未来最牛掰的职业？</span>
								<span class="newsContent">21世纪，“技术转移”崭露头角，以朝阳行业的身份为世人熟知。2017年，国务院正式印发《国家技术转移体系建设方案》，确立了全面建成结构合理、功能完善、体制健全、运行高效的国家技术转移体系，并提出了“两步走”的体系建设目标，这也是国家首次对技术转移工作进行系统部署的纲领性文件和行动指南，勾勒出未来科技成果在扩散、流动、共享、应用等环节更加顺畅的蓝图。...</span>
								<span class="right-date">2018年7月25日</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section><!-- end of about section -->

	<!-- footer starts here -->
	<footer class="footer clearfix">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 footer-para">
					<p>国家技术转移东部中心大连分中心 &nbsp;&nbsp;&nbsp;&nbsp;版权所有</p>
					<p>联系电话：0411-39363623</p>
					<p>联系地址：辽宁省大连市甘井子区七贤路2号 嘉创大厦15楼</p>
				</div>
				<!-- <div class="col-xs-6 text-right">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-skype"></i></a>
				</div> -->
			</div>
		</div>
	</footer>

	<!-- script tags
	============================================================= -->
	<script src="js/jquery-2.1.1.js"></script>

	<script src="js/gmaps.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>