<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>大国技交</title>
	<link rel="icon" href="img/logo.png" type="img/x-ico" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/technology.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'> -->
    <script src="js/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- ====================================================
	header section -->
    <header class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 header-logo">

                    <a href="index"><img src="img/logo.png" alt="" class="img-responsive logo"></a>
                </div>

                <div class="col-md-10">
                    <nav class="navbar navbar-default">
                        <div class="nav-top-title">国家技术转移东部中心大连分中心</div>
                        <div class="container-fluid nav-bar">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav">
                                    <li><a class="menu" href="index">首页</a></li>
                                    <li><a class="menu" href="technology">技术项目驱动</a></li>
                                    <li><a class="menu active" href="news">新闻中心</a></li>
                                    <li><a class="menu" href="college">蓝马甲商学院</a></li>
                                    <li><a class="menu" href="introduction">平台简介</a></li>
                                </ul>
                            </div><!-- /navbar-collapse -->
                        </div><!-- / .container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header> <!-- end of header area -->

    <section class="slider" id="home">
        <div class="header-backup"></div>
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <span>首页&nbsp;&nbsp;>&nbsp;&nbsp;新闻中心&nbsp;&nbsp;>&nbsp;&nbsp;《大连高新区战略合作高校院所科技处长第二次联席会议》在大国技交召开——大国技交首批“蓝马甲”列席参加</span>
                </div>
            </div>
        </div>
    </section><!-- end of slider section -->
    <!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div> -->

    <!-- about section -->
    <section class="news text-center" id="about">
        <div class="container">
            <div class="row">
                <h3>《大连高新区战略合作高校院所科技处长第二次联席会议》在大国技交召开——大国技交首批“蓝马甲”列席参加</h3>
                <div class="date">2018年8月15日</div>
                <p class="left">大连高新区科技创新局栗思兵局长，大连理工大学技术研究开发院郝涛主任，大连理工大学生命科学与技术学院贾凌云院长，大连海事大学科技处杨国刚副处长，大连医科大学成果转化办刁云鹏副主任，大连交通大学科技处丁万昱处长、邓晗主任，大连工业大学科技处樊永德科长，大连海洋大学科技园有限公司邓立志副总，中科院大连化物所孙亮主管，省农科院大连生物所都兴范所长，大连国嘉技交科技发展有限公司林志高董事长出席此次会议。</p>
                <p><img src="img/slide-two.png" width="300px" /></p>
                <p>大连高新区战略合作高校院所科技处长第二次联席会议</p>
                <p class="left">会上，由大连国嘉技交科技发展有限公司林志高董事长介绍国家技术转移东部中心大连分中心平台规划建设、运营交易模式等情况做了介绍。</p>
                <p class="left">参会的高新区科技局领导及各高校院所领导围绕上半年科技成果转化工作展开深入交流。</p>
                <p class="left">大连高新区科技创新局栗思兵局长就在科技成果转化过程出现的问题进行了刨析，并结合国家政府出台的相关政策，与各高校领导就技术转移方面的相关工作进行讨论与分析，倡导为促进大连的科技成果技术转化工作献计献策，此次会议将政府、高校与企业之间架起新的桥梁，同时将带领大连的科技成果转化进入新的历史时期。</p>
                <p class="left">“蓝马甲”首期班全员列席参加了《大连高新区战略合作高校院所科技处长第二次联席会议》。</p>
                <p class="left">为贯彻落实《国家技术转移体系建设方案》，大连国嘉技交科技发展有限公司（以下简称“大国技交”）开创了蓝马甲商学院。中国从事技术转移服务的专业人才目前属于稀缺高端人才，“大国技交”开创的蓝马甲商学院开创了这一领域的先河。</p>
                <p class="left">继2018.7.28日首期“蓝马甲”经理人培训圆满结束后，“蓝马甲”首期班团建活动于2018.8.10日在国家技术转移中心大连分中心再次召开。团队建设在现代企业中发挥着举足轻重的作用。每一个高效的团队，会带动整个公司的业绩，而“蓝马甲”不同，“蓝马甲”将会带动一个行业的发展进步。“蓝马甲”首期班团建活动首先在“平衡球”游戏中开始。</p>
                
                
                <p><img src="img/wechatdes22.jpg" width="300px" /></p>
                <p><img src="img/wechatdes23.jpg" width="300px" /></p>
                <p class="left">团建活动中，蓝马甲商学院执行校长于金鹏就“蓝马甲”经理人在技术采集工作中，各工作流程的衔接，运用相关工具及采集信息库的录入进行了教授与探讨，并布置蓝马甲的采集工作，开放共享技术资源DNTM001号数据库。</p>
                <p><img src="img/wechatdes24.jpg" width="300px" /></p>
                <p class="left">在此次团建活动中，“蓝马甲”首期班班委会成立 ，并选举出班委成员，探讨班委管理工作。</p>
                <p><img src="img/wechatdes25.jpg" width="300px" /></p>
                <p>首期蓝马甲商学院  班委会成员</p>
                <p>团建最后对首期“蓝马甲”学员进行了考核；“大国技交”董事长、蓝马甲商学院校长  林志高校长针对首期班进入实习考核期的技术经理人颁发了蓝马甲，并授权实习“蓝马甲”开展技术采集相关工作。</p>
                <p><img src="img/wechatdes26.jpg" width="300px" /></p>

            </div>
        </div>
    </section><!-- end of about section -->

    <!-- footer starts here -->
    <footer class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 footer-para">
                    <p>国家技术转移东部中心大连分中心 &nbsp;&nbsp;&nbsp;&nbsp;版权所有</p>
                    <p>联系电话：0411-39363623</p>
					<p>联系地址：辽宁省大连市甘井子区七贤路2号 嘉创大厦15楼</p>
                </div>
                <!-- <div class="col-xs-6 text-right">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-skype"></i></a>
				</div> -->
            </div>
        </div>
    </footer>

    <!-- script tags
	============================================================= -->
    <script src="js/jquery-2.1.1.js"></script>

    <script src="js/gmaps.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>