<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>大国技交</title>
	<link rel="icon" href="img/logo.png" type="img/x-ico" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/technology.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'> -->
    <script src="js/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- ====================================================
	header section -->
    <header class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 header-logo">

                    <a href="index"><img src="img/logo.png" alt="" class="img-responsive logo"></a>
                </div>

                <div class="col-md-10">
                    <nav class="navbar navbar-default">
                        <div class="nav-top-title">国家技术转移东部中心大连分中心</div>
                        <div class="container-fluid nav-bar">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav">
                                    <li><a class="menu" href="index">首页</a></li>
                                    <li><a class="menu" href="technology">技术项目驱动</a></li>
                                    <li><a class="menu active" href="news">新闻中心</a></li>
                                    <li><a class="menu" href="college">蓝马甲商学院</a></li>
                                    <li><a class="menu" href="introduction">平台简介</a></li>
                                </ul>
                            </div><!-- /navbar-collapse -->
                        </div><!-- / .container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header> <!-- end of header area -->

    <section class="slider" id="home">
        <div class="header-backup"></div>
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <span>首页&nbsp;&nbsp;>&nbsp;&nbsp;新闻中心&nbsp;&nbsp;>&nbsp;&nbsp;大连——新兴高收入行业！！！</span>
                </div>
            </div>
        </div>
    </section><!-- end of slider section -->
    <!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div> -->

    <!-- about section -->
    <section class="news text-center" id="about">
        <div class="container">
            <div class="row">
                <h3>大连——新兴高收入行业！！！</h3>
                <div class="date">2018年8月8日</div>
                <p class="left">2017年，国务院正式印发《国家技术转移体系建设方案》，确立了全面建成结构合理、功能完善、体制健全、运行高效的国家技术转移体系，并提出了“两步走”的体系建设目标，这也是国家首次对技术转移工作进行系统部署的纲领性文件和行动指南。
                        中国从事技术转移服务的人才不足，是目前全球都面临的一个“人才缺口问题”，专业人才队伍的培养储备，是技术转移众多体系中至关重要的一环。</p>
                <p>为贯彻落实《国家技术转移体系建设方案》，大连国嘉技交科技发展有限公司（以下简称“大国技交”）开创的蓝马甲商学院，在2018年7月28-29日，开设为期两天的首批“蓝马甲”精品培训班。</p>
                <p><img src="img/wechatdes27.jpg" width="300px" /></p>
                <!-- <p>2018 沪连护合作 第二次工作联席会议</p> -->
                <p class="left">首批精英“蓝马甲”培训班中，我们筛选出12位各行业各领域的精英人士进行关于“蓝马甲”的相关培训。精英导师针对东北首个专利运营模式进行“蓝马甲”的职能和技能等相关课程设计，有特点有针对的进行讲解，课程包括：技术转移的三大要素采集、加功、转移；商业路演计划书的设计；“蓝马甲”基础能力训练等，具有实操意义。</p>
                <p><img src="img/wechatdes28.jpg" width="300px" /></p>
                <p>蓝马甲商学院校长  林志高</p>
                <p><img src="img/wechatdes29.jpg" width="300px" /></p>
                <p>蓝马甲商学院执行校长  于金鹏</p>
                <p class="left">首期“蓝马甲”精英培训导师为了让技术经理人更快的进入角色，尽早的进行技术转移，将在8月进行首期班的团建课程，针对技术经理人进行实操训练并进行一对一的指导。</p>
                <p><img src="img/wechatdes30.jpg" width="300px" /></p>
                <p><img src="img/wechatdes31.jpg" width="300px" /></p>
                <p><img src="img/wechatdes32.jpg" width="300px" /></p>
                <p class="left">如今社会发展需要技术，技术转移是助社会发展的一项工作，“蓝马甲”就是技术转移的经理人，这样一个有前景、高收入的行业为何不加入呢？只要你对技术领域感兴趣、有技术领域资源的，我们欢迎你的加入。</p>
                <p><img src="img/wechatdes33.jpg" width="300px" /></p>
                <h3>招揽精英</h3>
                <p class="left" style="text-indent:0;">综合办公室助理<br/>
                        岗位职责：<br/>
                        1、起草和修改报告、文稿等；<br/>
                        2、及时准确的更新员工通讯录；管理公司网络、邮箱；<br/>
                        3、负责日常办公用品采购、发放、登记管理，办公室设备管理；<br/>
                        4、保证办公所需物资的充足（如水、纸、设备、耗材及报销单据表格等）及费用结算。<br/>
                        5、负责来访领导的接待后勤工作<br/>
                        任职资格：<br/>
                        1、1-2年相关工作经验；<br/>
                        2、熟悉办公室行政管理知识及工作流程，熟悉公文写作格式，具备基本商务信函写作能力，熟练运用OFFICE等办公软件；<br/>
                        3、工作仔细认真、责任心强、为人正直，具备较强的书面和口头表达能力；<br/>
                        工作时间：周一-周五 早八点半-晚四点半<br/>
                        薪酬待遇：面议<br/>
                        简历邮箱：1075466355@qq.com<br/>
                        联系人：肖岚岚 13942096375  39363623<br/>
                        
                        “蓝马甲”经理人若干名<br/>
                        相关条件：<br/>
                        1、         对技术领域感兴趣；<br/>
                        2、         有技术领域相关资源；<br/>
                        3、         具有沟通能力和表达能力；<br/>
                        4、         有团队精神和责任心等；<br/>
                        工作时间：<br/>
                        合理自由安排。<br/>
                        薪酬：面议<br/>
                        投简历邮箱：1075466355@qq.com</p>

            </div>
        </div>
    </section><!-- end of about section -->

    <!-- footer starts here -->
    <footer class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 footer-para">
                    <p>国家技术转移东部中心大连分中心 &nbsp;&nbsp;&nbsp;&nbsp;版权所有</p>
                    <p>联系电话：0411-39363623</p>
					<p>联系地址：辽宁省大连市甘井子区七贤路2号 嘉创大厦15楼</p>
                </div>
                <!-- <div class="col-xs-6 text-right">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-skype"></i></a>
				</div> -->
            </div>
        </div>
    </footer>

    <!-- script tags
	============================================================= -->
    <script src="js/jquery-2.1.1.js"></script>

    <script src="js/gmaps.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>