<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>大国技交</title>
	<link rel="icon" href="img/logo.png" type="img/x-ico" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/technology.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'> -->
    <script src="js/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- ====================================================
	header section -->
    <header class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 header-logo">

                    <a href="index"><img src="img/logo.png" alt="" class="img-responsive logo"></a>
                </div>

                <div class="col-md-10">
                    <nav class="navbar navbar-default">
                        <div class="nav-top-title">国家技术转移东部中心大连分中心</div>
                        <div class="container-fluid nav-bar">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav">
                                    <li><a class="menu" href="index">首页</a></li>
                                    <li><a class="menu" href="technology">技术项目驱动</a></li>
                                    <li><a class="menu active" href="news">新闻中心</a></li>
                                    <li><a class="menu" href="college">蓝马甲商学院</a></li>
                                    <li><a class="menu" href="introduction"> 平台简介</a></li>
                                </ul>
                            </div><!-- /navbar-collapse -->
                        </div><!-- / .container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header> <!-- end of header area -->

    <section class="slider" id="home">
        <div class="header-backup"></div>
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <span>首页&nbsp;&nbsp;>&nbsp;&nbsp;新闻中心&nbsp;&nbsp;>&nbsp;&nbsp;历史转折点必有红利—— 驱动式技术交易模式</span>
                </div>
            </div>
        </div>
    </section><!-- end of slider section -->
    <!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div> -->

    <!-- about section -->
    <section class="news text-center" id="about">
        <div class="container">
            <div class="row">
                <h3>历史转折点必有红利—— 驱动式技术交易模式</h3>
                <div class="date">2018年8月22日</div>
                <p class="left">世界上任何创新都是孤独的！经历“诞生”—“明白”—“传播”—“常态”的生命历程，往往会伴随“先驱”“先烈”“先行”者们。如福特所说——没有汽车以前，人们需要的更好交通工具是？几乎所有人的答案都是“我要一匹更快的马”！驱动交易模式到底是个什么“玩意”？谁知道呢？……</p>
                <p class="left">1602年世界上最早的股份有限公司制度诞生于在荷兰成立的东印度公司。</p>
                <p class="left">1611年世界上第一个股票市场在阿姆斯特丹股票交易所形成了。东印度公司的股东们在阿姆斯特丹股票交易所就进行着股票交易，并且后来有了专门的经纪人撮合交易。</p>
                <p class="left">1916年，孙中山与沪商虞洽卿共同建议组织上海交易所股份有限公司，拟具章程和说明书，呈请农商部核准。</p>
                <p class="left">1920年2月1日，上海证券物品交易所在总商会开创立会.</p>
                <p class="left">2月6日交易所召开理事会，选举虞洽卿为理事长。</p>
                <p class="left">1984年11月18日，中国第一个公开发行的股票———飞乐音响向社会发行1万股(每股票面50元)，在海外引起比国内更大的反响，被誉为中国改革开放的一个信号……</p>
                <p class="left"> 2018年国家技术转移东部中心大连分中心林志高董事长，第一次将技术交易由“一对一双方撮合”模式提升为“公开化全民驱动技术交易”模式并申请了中国商业模式发明专利。</p>

                <p><img src="img/wechatdes19.jpg" width="300px" /></p>
                <p><img src="img/wechatdes20.jpg" width="300px" /></p>
                <p class="left">您想知道如何实现真正“零风险”获益？如何做到您的钱依然存在个人银行账户中，只需进入技术交易平台进行项目点赞，并用存款额度来虚拟投资，您就有机会获得丰厚的交易分红？怎样为技术评估找到更高值的市场评估方式？如何让技术交易数量趋裂变式增长？国家技术转移东部中心分中心就是带领大家做无实钱投资，零风险的新型全民参与驱动技术交易的平台。</p>
                <p><img src="img/wechatdes21.jpg" width="300px" /></p>
                <p class="left">大连正在打造具有国际影响力的全球化技术交易中心！</p>

            </div>
        </div>
    </section><!-- end of about section -->

    <!-- footer starts here -->
    <footer class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 footer-para">
                    <p>国家技术转移东部中心大连分中心 &nbsp;&nbsp;&nbsp;&nbsp;版权所有</p>
                    <p>联系电话：0411-0000000</p>
                    <p>联系地址：辽宁省大连市高新园区佳创大厦15层</p>
                </div>
                <!-- <div class="col-xs-6 text-right">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-skype"></i></a>
				</div> -->
            </div>
        </div>
    </footer>

    <!-- script tags
	============================================================= -->
    <script src="js/jquery-2.1.1.js"></script>

    <script src="js/gmaps.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>