<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>大国技交</title>
	<link rel="icon" href="img/logo.png" type="img/x-ico" />
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/technology.css">
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'> -->
	<!-- <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'> -->
	<script src="js/modernizr.js"></script>
	<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	
	<!-- ====================================================
	header section -->
	<header class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 header-logo">
					
					<a href="index"><img src="img/logo.png" alt="" class="img-responsive logo"></a>
				</div>

				<div class="col-md-10">
					<nav class="navbar navbar-default">
						<div class="nav-top-title">国家技术转移东部中心大连分中心</div>
					  <div class="container-fluid nav-bar">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      
					      <ul class="nav navbar-nav">
					        <li><a class="menu" href="index" >首页</a></li>
					        <li><a class="menu" href="technology">技术项目驱动</a></li>
					        <li><a class="menu active" href="news">新闻中心</a></li>
					        <li><a class="menu" href="college">蓝马甲商学院</a></li>
							<li><a class="menu" href="introduction"> 平台简介</a></li>
					      </ul>
					    </div><!-- /navbar-collapse -->
					  </div><!-- / .container-fluid -->
					</nav>
				</div>
			</div>
		</div>
	</header> <!-- end of header area -->

	<section class="slider" id="home">
			<div class="header-backup"></div>
			<div class="navigation">
				<div class="container">
					<div class="row">
						<span>首页&nbsp;&nbsp;>&nbsp;&nbsp;新闻中心&nbsp;&nbsp;>&nbsp;&nbsp;助力产业高质量发展，打造技术红利共享新模式</span>
					</div>
				</div>
			</div>
	</section><!-- end of slider section -->
    <!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div> -->

	<!-- about section -->
	<section class="news text-center" id="about">
		<div class="container">
			<div class="row">
                <h3>助力产业高质量发展，打造技术红利共享新模式</h3>
				<div class="date">2018年8月26日</div>
				<p><img src="img/newscenter.png" width="300px"/></p>
                <p class="left">8月24日，由国家知识产权局、辽宁省人民政府共同主办、大连市人民政府承办的2018中国国际专利技术与产品交易会在大连世界博览广场启幕。本届专交会以“专利引领产业高质量发展”为主题，聚焦国家创新驱动发展战略实施的现实需要，以知识产权保护运用为重点，以展览展示、主题活动为抓手，以推动专利技术交流合作，促进专利技术转化，普及专利知识，加强知识产权保护为目标。展会吸引了来自俄罗斯、美国、英国等26个国家和地区、29家中国科学院科研院所、43所大学，共1500余家企事业单位及相关机构的6100余个项目进行展览展示。</p>
				<p><img src="img/wechatdes1.jpg" width="300px"/></p>
				<p><img src="img/wechatdes2.jpg" width="300px"/></p>
				<p>大国计交展区</p>
                <p class="left">国家技术转移东部中心大连分中心作为参展单位，在林志高总裁的带领下，国内首批技术交易经理人“蓝马甲”团队集体亮相此次专交会，宣传推介即将上线运营的大连技术专利公开交易市场。大连技术专利公开交易市场通过发掘专利技术的核心价值，瞄准专利技术与产品的最佳结合点，助推专利技术与产品更紧密结合，提高专利技术的产品转化率，促进更多知识产权项目落地转化，打通专利技术与服务市场的对接通道，更好、更快地实现知识产权项目的市场化运作，全力助力产业高质量发展，打造技术红利共享新模式。</p>
				<p><img src="img/wechatdes3.jpg" width="300px"/></p>
				<p><img src="img/wechatdes4.jpg" width="300px"/></p>
				<p>国家知识产权局局长申长雨、大连市委书记谭作钧、市长谭成旭等领导听取大连技术专利公开交易市场建设运营情况</p>
				<p><img src="img/wechatdes5.jpg" width="300px"/></p>
				<p>“蓝马甲”团队</p>
				<p class="left">24日下午，国家技术转移东部中心在大连高新区嘉创大厦15楼会议室举办沪连项目对接会，邀请此次来连参加2018国际专交会的上海团队与大连科技企业及科技服务机构参会。会上，上海专利商标事务所、上海市环境科学研究院、上海振华重工（集团）股份有限公司、上海骄英能源科技有限公司、上海重塑能源科技有限公司、上海西井信息科技有限公司、美钻能源科技（上海）有限公司等7家单位以项目路演的形式展示了各自的项目情况，并与大连港口与口岸局、柒加环境科技（大连）有限公司、大连思源厚谊科技有限公司、天天达（大连）新能源汽车发展有限公司、大连中天致远科技有限公司及“蓝马甲”团队就项目需求对接进行座谈。</p>
				<p><img src="img/wechatdes6.jpg" width="300px"/></p>
				<p><img src="img/wechatdes8.jpg" width="300px"/></p>
				<p><img src="img/wechatdes9.jpg" width="300px"/></p>
				<p><img src="img/wechatdes10.jpg" width="300px"/></p>
				<p><img src="img/wechatdes11.jpg" width="300px"/></p>
				<p><img src="img/wechatdes12.jpg" width="300px"/></p>
				<p><img src="img/wechatdes13.jpg" width="300px"/></p>
			</div>
		</div>
	</section><!-- end of about section -->

	<!-- footer starts here -->
	<footer class="footer clearfix">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 footer-para">
					<p>国家技术转移东部中心大连分中心 &nbsp;&nbsp;&nbsp;&nbsp;版权所有</p>
					<p>联系电话：0411-0000000</p>
					<p>联系地址：辽宁省大连市高新园区佳创大厦15层</p>
				</div>
				<!-- <div class="col-xs-6 text-right">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-skype"></i></a>
				</div> -->
			</div>
		</div>
	</footer>

	<!-- script tags
	============================================================= -->
	<script src="js/jquery-2.1.1.js"></script>

	<script src="js/gmaps.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>