<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>大国技交</title>
	<link rel="icon" href="img/logo.png" type="img/x-ico" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/technology.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'> -->
    <script src="js/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- ====================================================
	header section -->
    <header class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 header-logo">

                    <a href="index"><img src="img/logo.png" alt="" class="img-responsive logo"></a>
                </div>

                <div class="col-md-10">
                    <nav class="navbar navbar-default">
                        <div class="nav-top-title">国家技术转移东部中心大连分中心</div>
                        <div class="container-fluid nav-bar">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav">
                                    <li><a class="menu" href="index">首页</a></li>
                                    <li><a class="menu" href="technology">技术项目驱动</a></li>
                                    <li><a class="menu active" href="news">新闻中心</a></li>
                                    <li><a class="menu" href="college">蓝马甲商学院</a></li>
                                    <li><a class="menu" href="introduction">平台简介</a></li>
                                    <li><a class="menu" href="market">交易大盘</a></li>
                                </ul>
                            </div><!-- /navbar-collapse -->
                        </div><!-- / .container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header> <!-- end of header area -->

    <section class="slider" id="home">
        <div class="header-backup"></div>
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <span>首页&nbsp;&nbsp;>&nbsp;&nbsp;新闻中心&nbsp;&nbsp;>&nbsp;&nbsp; 什么是当下的风口行业？ 什么是未来最牛掰的职业？</span>
                </div>
            </div>
        </div>
    </section><!-- end of slider section -->
    <!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div> -->

    <!-- about section -->
    <section class="news text-center" id="about">
        <div class="container">
            <div class="row">
                <h3>什么是当下的风口行业？ 什么是未来最牛掰的职业？</h3>
                <div class="date">2018年7月25日</div>
                <p class="left">21世纪，“技术转移”崭露头角，以朝阳行业的身份为世人熟知。2017年，国务院正式印发《国家技术转移体系建设方案》，确立了全面建成结构合理、功能完善、体制健全、运行高效的国家技术转移体系，并提出了“两步走”的体系建设目标，这也是国家首次对技术转移工作进行系统部署的纲领性文件和行动指南，勾勒出未来科技成果在扩散、流动、共享、应用等环节更加顺畅的蓝图。</p>
                <!-- <p><img src="img/wechatdes14.jpg" width="300px" /></p> -->
                <!-- <p>2018 沪连护合作 第二次工作联席会议</p> -->
                <p class="left">从事技术转移服务的人才不足，是目前全球都面临的一个“人才缺口问题”。专业人才队伍的培养储备，是技术转移众多体系中至关重要的一环。</p>
                <p><img src="img/wechatdes44.jpg" width="300px" /></p>
                <p class="left">2017年，全国共签订技术合同约36万项，成交金额约1.3万亿元，同比增长14.7%和17.7%。全国技术市场交易继续保持中高速增长势头。在高科技产品一个接一个的横空出世之时，市场对于技术转移人才的需求呈现爆发性增长。
                        未来，技术转移人才资源将成为国家竞争力的基础性、战略性核心资源，因此，对技术转移人才的培养尤其是技术转移高端人才队伍的建设，是现阶段我国科技发展的重要环节，将有利于提升我国技术转移服务效率，支撑我国科技创新和经济转型。</p>
                
                <p class="left">2018年7月28～29日，国家技术转移东部中心大连分中心将举办为期2天的“技术经理人执业认证课程”暨《“蓝马甲”一阶集训课》。此次培训将由多位资深老师授课，采取多维度解读、情景式沙盘模拟等多种形式。</p>
                <p class="left">传统的人才培训大都停留在理论阶段，碍于条件的限制，在项目实操的培养环节相对薄弱。“如何寻找技术转移和商业化的最优策略，快速判断高技术项目”、“如何为技术方寻找适合的合作方，操作高技术项目的落地方案”是作为一名技术经理人必须掌握的技能。</p>
                <p class="left">本次培训将采用全新的课程体系，以传授实用技能为主旨，采用互动型的高效培训方法，以实际项目案例沙盘推演形式开展，不仅强调知识提升，更注重实战技能锻炼，强调让学员进行经验分享及团队协作。让所有学员都有机会体验独特的实训课程，参与企业转型升级的破冰之旅，真正成为一名优秀的“技术转移”人才。</p>

                <p><img src="img/wechatdes45.jpg" width="300px" /></p>
                <p><img src="img/wechatdes46.jpg" width="300px" /></p>
                <p><img src="img/wechatdes47.jpg" width="300px" /></p>
            </div>
        </div>
    </section><!-- end of about section -->

    <!-- footer starts here -->
    <footer class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 footer-para">
                    <p>国家技术转移东部中心大连分中心 &nbsp;&nbsp;&nbsp;&nbsp;版权所有</p>
                    <p>联系电话：0411-0000000</p>
                    <p>联系地址：辽宁省大连市高新园区佳创大厦15层</p>
                </div>
                <!-- <div class="col-xs-6 text-right">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-skype"></i></a>
				</div> -->
            </div>
        </div>
    </footer>

    <!-- script tags
	============================================================= -->
    <script src="js/jquery-2.1.1.js"></script>

    <script src="js/gmaps.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>